:root {
  /* colour variables */
  --green: #286334;
  --green-opaque: #2863380;
  --orange: #f7c10e;
  --orange-opaque: #f7c10e40;
  --shamrock: #5fad56;
  --shamrock-opaque: #5fad5666;
  --cadet: #3f3f3f;
  --cadet-opaque: #3f3f3f40;
  --earth: #5e3023;
  --earth-opaque: #5e302340;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 170%;
  box-sizing: border-box;
  color: var(--orange);
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  font-family: "Play", sans-serif;
}

.textContainer {
  margin: 50px 200px;

}

#userInput {
  margin: 2% 5% 0 0;
  padding: 8px;
  font-size: 90%;
  flex: 3;
  width: 500px;
}

#searchButton img {
  height: 60px;
  opacity: 100%;
  margin-top: 20px;
  flex: 1;
  transition: transform 0.3s;
}

#searchButton img:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.topBirds {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  align-items: flex-start;
}

.bottomBirds {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  align-items: flex-end;
}

.bird {
  height: 170px;
}

.dropdownList {
  list-style: none;
  text-align: left;
  padding: 5px;
  margin: 0;
  width: 500px;
  text: black;
}

li {
  background-color: white;
}
